
body {
/* CSS HSL */
--color1: hsla(333, 93%, 56%, 1);
--color2: hsla(309, 77%, 40%, 1);
--color3: hsla(276, 91%, 38%, 1);
--color4: hsla(268, 88%, 36%, 1);
--color5: hsla(263, 87%, 35%, 1);
--color6: hsla(258, 86%, 34%, 1);
--color7: hsla(243, 57%, 50%, 1);
--color8: hsla(229, 83%, 60%, 1);
--color9: hsla(212, 84%, 61%, 1);
--color10: hsla(194, 85%, 62%, 1);
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--color2);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

section {
    background-color: var(--color5);
    width: 1000px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--color1);
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: magenta;
    height: var(--header-height);
    box-shadow: var(--shadow);
    width: 100%;
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}

h2 {
    font-size: 3rem;
    font-weight: bold;
    color: var(--color10)
}

h3 {
    font-size: 20px;
    font-weight: bolder;
    color: var(--color9)
}

#numberwang-header {
   align-items:var(--header-height);
}

.main-logo {
    animation: pulse 5s infinite ease-in-out;
}

header img {
    height: 200%;
    align-items: center;
}

p {
    margin: var(--gutter);
    color: var(--color7);
}
  
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}

#list {
    list-style: decimal;
}
.instructions {
    text-align: justify;
}
#reset-button {
    display: none;
}